#Header {
  height: 60px;
  background: #20232a;
  display: flex;
  align-items: center;

  .main-header-menu {
    width: 40%;
    display: flex;
    margin-left: 10%;

    .link-header {
      text-decoration: none;
      margin: 0 10px;
      padding: 10px 5px;
      color: #fff;
    }
    // #06bcee
    .link-header:hover {
      color: #06aeee;
    }
    .link-header:active,
    .link-header:focus,
    .link-header:focus-visible
     {
      color: #06aeee;
      border-bottom: 2px solid #06aeee;
    }
  }

  .main-header-login-container {
    width: 47%;
    display: flex;
    margin-right: 3%;
    justify-content: flex-end;

    .login-button {
      text-decoration: none;
      margin: 0 10px;
      padding: 8px 15px;
      color: #fff;
      background-color: #367eff;
      border-radius: 5px;
    }
    .signup-button {
      text-decoration: none;
      margin: 0 10px;
      padding: 8px 15px;
      color: #fff;
      background-color: #ff7777;
      border-radius: 5px;
    }
  }
}
